@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.navbar { background-color: #484848; }
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #e0ddd5; }
.navbar .navbar-nav .active > .nav-link { color: #e0ddd5; }
.card { margin-top: 25px; }